/*=======================================================
	
				BASE LAYOUT STYLE           315px
	
========================================================*/
* {
   box-sizing: border-box;
}


body {
    line-height: 1.4em;
    margin-top: 0;
	text-align: center;
	background-color: #dadada;
}


h2 {
    margin-top: 0; /* Stop the heading collasing */
}


h2,h3,h4, a { 
	font-family: 'Philosopher', sans-serif;     
}


p {
 	font-family: 'Amiri', serif;
	
}


h1 {
    padding-left:  1em;
}


.paragraph {
	max-width: 100%;
/*	padding: 0.9em ;*/
	margin: 0 2.5em;
	font-size: 1.1em;
}


.infor {
	max-width: 100%;
/*	float: left;*/
	font-size: 1.1em;
/*	margin: 0 8px;*/
}


/*=======================================================

				CONTAINERS         315px
	
========================================================*/

.background2 {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.container {
    
    width: 100%;
    margin: 0 auto;
}


.background2 {
	padding: 0 em;
}

.col{
	background-color: #fff;
	padding-top: 2em; 0;
	padding-bottom: 1.7em;
	margin: 0;
}


.background2 {
	display: inherit;
	background-color: #dadada;
/*	padding-bottom: 2em;*/
/*	padding-right: -3em;*/
}


.container{
	padding: 0;
	margin: 0;
	background-color: #fff;
	width: 100%;
	display: block;
}

/*=======================================================
	
				IMAGES          315px
	
========================================================*/

.page-image1 {
	display: block;
	max-width: 50%;
	padding: 0;
	margin: 1em auto;   /* profile image     */
}


.page-image {
	display: inline-block; /* inline-block mobile important*/
	max-width: 86%;
	min-width: 30%;
	padding: 0;
	margin-left: 0.5em;
	padding-top: 1em;
}


/*=======================================================
	
				CONTACT INFORMATION				315px
	
========================================================*/

.contact-infor, h4{ 
    margin-top: 0; /* Stop the heading collasing */
	font-size: 0.9em;
	padding-top: 4em;
/*	padding-bottom: 2em;*/
}

.contact-infor p{ 
    margin-top: 0; /* Stop the heading collasing */
	font-size: 1.39em;
	
/*	width: 30%;*/
/*	text-align: center;*/
}


.contact-infor{
	width: 100%;
}


.contact-infor{
	background-color: #dadada;
	padding-top: 1em;
}


.contact-infor{
	display: inline-block;
}

/*=======================================================
	
				LINK NONE STYLE: 				315px
	
========================================================*/


a {
    text-decoration: none;
}


ul {
    list-style:  none;
}


/*=======================================================
	
					NAVIGATION: 				315px
	
========================================================*/


nav ul li a {
	display: block;
	font-weight: bold;
	padding-top: 7px;
}


nav ul li a:hover {
	color: red ;
}


li a:hover {
    background-color: lightblue;
}	


/*=======================================================
	
					STYLE    				 315px
	
========================================================*/


.title {
		padding: 40px;
}


/*=======================================================
	
						FOOTER mobile screen   315px
	
========================================================*/

/*

.main-footer {
	display: none;
}
*/

footer{
	border-top: 1px solid black;
	
}	


.footer2{
	background-color: #dadada;
	padding-top: 2em;
}


.main-footer {
	display: block;
	float: right;
}


.main-footer {
	display: none;
	float: right;
}


.shaf-footer{
	float: left;
	padding-left: 10px;
	font-size: 1.1em;
}


.backtotop-footer{
	float: right;
	padding-right: 10px;
	font-size: 1em;
	vertical-align: text-top;
	display:block;
}


.email {
	padding-bottom: 2em;
}


.name1-footer{
	display: none;
}


.footer-nav{
	display: block;
}

.backtotop {
	padding-top: 3em;
}
/*=======================================================
	
						CLEARFIX       all screens size
	
========================================================*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*=======================================================
	
			Media  Quries min-            768px
	
========================================================*/
@media (min-width: 768px) {
   

/*=======================================================

				CONTAINERS         		768px
	
========================================================*/
 .container {           
    width: 100%;
    margin: 0;
}
	
.col{
	width: 49%;
	margin: -7px;
}


div .col {
	display: inline-block;
}
/*=======================================================

				IMAGES         315px
	
========================================================*/	
	
.page-image1{
	display: block;
	max-width: 100%;
	padding: 0;
	margin: 1em auto;       
	float: right;
	padding-right: 1em;
}
	
.page-image {
	max-width: 90%;
	padding-top: 8px;
	padding-bottom: 0.2em;
	vertical-align: bottom;
	margin: 2.5px;
}

	
/*=======================================================
	
						Navigation   		768px
	
========================================================*/

	
li a:hover {
    background-color: aliceblue;
}	
	
	
.main-nav, li {
	display: inline-block;
	margin-right: 30px;
	padding-top: 2px;
	text-align: center;
}

/*=======================================================
	
					Footer Nav   			  768px
	
========================================================*/
.main-footer {
	display: inline;
	float: right;
	font-size: 1.2em;
	padding-top: 2em;
}

.shaf-footer{
	padding-top: 2em;	
}	
	
		
.footer-nav{
	display: block;
	float: right;
}

	
.name1-footer {
	display: none;
}
	
	
.backtotop-footer {
	display: none;
}

.shaf-footer{ 
    margin-bottom: 0.5em; /* Stop the heading collasing */
}


.name {
	padding-top: 2em;
}
	
/*=======================================================
	
				Media  Quries: 					1025px
	
========================================================*/	
@media (min-width: 1025px) {
.container {
    width: 100%;
}

/*=======================================================
	
					CONTINER   			  1025px
	
========================================================*/
	
.col{
	background-color: #fff;
	width: 33.1%;
	max-width: 100%;
	padding: 0;
}
	

	
/*=======================================================
	
					IMAGE 			  1025px
	
========================================================*/
.page-image1 {
	display: block;
	max-width: 100%;
	padding: 0;
	margin: 1em auto;       
	float: right;
	padding-right: 1em;
}


.page-image {
	max-width: 90%;
	padding-top: 2.5em;
	padding-bottom: 0.2em;
	vertical-align: text-top;
	padding-top: 2em;
}
	

/*=======================================================
	
					NAVIGATION			  1025px
	
========================================================*/
.main-nav {
	display: inline;
/*	margin-right: 30px;*/
	padding-top: 2px;
	text-align: right;
	padding-left: 2em;
}

	
	
/*=======================================================
	
					FOOTER 			  1025px
	
========================================================*/	
.name-footer1 {
	display: none;
}
	
.name {
	padding-top: 2em;
}	
	
.infor {
	max-width: 49%;
	float: left;
	font-size: 1.7em;
	text-align: left;
	padding-left: 1.5em;
}

.name{
	display: block;
	float: left;
	padding: 0;
}


/*=======================================================
	
					OTHER INFOR		  1025px
	
========================================================*/	


.paragraph {
	display: block;
	max-width: 96%;
	padding-top: 10px;
	margin: 1em;
}
	

h2 {
	padding: 0;
	margin: 0;
}
	
/*=======================================================
	
					CLEARFIX		  1025px
	
========================================================*/	

.five {
      clear: none;
  }

 .four {
       clear: left;
   }	
}
	