
* {
    
    box-sizing: border-box;
}

body {
    
    line-height: 1.4em;
    margin-top: 0;
    
}




h2,h3,h4, a {
   
font-family: 'Philosopher', sans-serif; 
    
}

p {
    
font-family: 'Amiri', serif;

}

.container {
    
    width: 79%;
    margin: 0 auto;
}


img{
    width: 100%;
}

h1 {
    padding-left:  1em;
}



/*==========  Base layout style       ===========*/

.name a,
.main nav a {
    padding: 10px 15px;
    display: block;
}


.main-header {
    
    text-align: left;
    padding-top: 1.5em;
    padding-bottom: .8em;
    background-color:  #006091;
    margin-bottom: 20px;
    margin: 0 2em;
}

/*
.main-header {
    
    margin: 0 0;
}
*/

.introduction {
    margin: 0 2em;
}

body {
    background-color: #006091;
}
.main-nav {
    margin-top: 5px;
    
}

h2 {
    text-align: center;
}

.col {
    margin-top: 1em;
}
/****************link style*********************/

a {
    text-decoration: none;
    
}


ul {
    list-style:  none;
}






/*******************   Navigation       ***********************/


.name {
    
    margin: 0;
}

    
.main-nav {
    text-align: center;
    padding: 0;
    margin: 0;
}

.main-nav {
    
    margin-top: 5px;
}

.main-nav {
    text-align: center;
    
}

.title {
    
    text-align: center;
    display: block;
    padding: 10px 15px;
    text-align: center;
}


/*****************   style    ************************/

.headline {
    margin-bottom: 0;
}

.col {
    margin-top: 50px;
    
}

p {
    text-align: center;
    margin: 0;
    
}

.border {
    border: 1px solid grey;
}

.title {
    
    margin-top: 2em;
}

a {
    color: black;
}
.introduction {
    
    margin-top: 2.5em;
}


a:hover{
    
    color: red;
}

.container {
    
    background-color: #fff;
}

/*************************  footer   ***********************/

footer {
    
    font-size: 1.2em;
    text-align: center;
    clear: both;
    padding: 50px;

}

.footone {
    margin: 2em;
}

.border {
    
    margin-top: 4.5em;
}

/* clear fix*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

    




/*==========================Media  Quries ======================= ===============================================================*/


@media (min-width: 768px) {
    
 .container {      /* .container      */
    max-width: 90%;
    margin: 0 auto;
}
 .name,   
 .col {
    float: left;
}

    .paragraph {
        
        padding-bottom: 3em;
    }
        
        
    
    

    
    .header-image {
        float: right;
        max-width: 30%;
        padding: 0;
        margin: 0;
    }
    
    .infor    {
        max-width: 45%;
        float: left;
        text-align: left;
        font-size: 1.6em;
        padding: 30px;
    }
    
.col {  
    width: 50%;
    
}
    
 .main-nav {
     margin-bottom: 2.5em;
    }
 
.main-nav {
    text-align: right;    
    }
    
    
 .col {
     display: inline-block;
     margin-right: -4px;
     vertical-align: top;
     padding-left: 1em;
     padding-right: 1em;
}
    
    
/*layout container*/

.container {
    padding-left: 1em;
    padding-right: 1em;
    
}
  
.name,
.main-nav,
.main-nav li {
    
    display: inline-block;
    
}
    
.main-nav li {
    margin-right: 8px;
        
}
    
.name {
   float: left; 
    width: 240px;
}

.main-nav {
    
    float: right;
}
    
    
 .main-nav li {
   display: inline-block;  /*  float: left;*/
   margin: 15px;     
} 
    
a {
    
    padding: 1.5em;
}
}






@media (min-width: 1025px) {
.container {
    width: 85%;
    max-width: 1150px;
        
}

.col    {
    width: 33%;
}
}
        











